<div id="<%= dom_id movie %>">
  <div>
    <strong>Title:</strong>
    <%= movie.title %>
  </div>

  <div>
    <strong>Director:</strong>
    <%= movie.director %>
  </div>

  <div>
    <strong>Screenwriter:</strong>
    <%= movie.screenwriter %>
  </div>

  <div>
    <strong>Producer:</strong>
    <%= movie.producer %>
  </div>

  <div>
    <strong>Year:</strong>
    <%= movie.year %>
  </div>

  <div>
    <strong>Genre:</strong>
    <%= movie.genre %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= movie.description %>
  </div>

  <div>
    <strong>Url:</strong>
    <%= movie.url %>
  </div>

  <div>
    <strong>Duration:</strong>
    <%= movie.duration %>
  </div>

  <div>
    <strong>Country:</strong>
    <%= movie.country %>
  </div>

  <div>
    <strong>Studio:</strong>
    <%= movie.studio %>
  </div>

  <div>
    <strong>User:</strong>
    <%= movie.user_id %>
  </div>

</div>
